{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Register</h1>
    <form id="auth_form" action="{{ url_for('register') }}" method="post">
        <input type="text" name="name" placeholder="Name" class="input-field" required />
        <input type="text" name="username" placeholder="Username" class="input-field" required />
        <input type="email" name="email" placeholder="Email" class="input-field" required />
        {% if error3%}
           <p style="color: red;">{{ error3 }}</p>
        {% endif %}
        <input type="password" name="password" placeholder="Password" class="input-field" required />
        <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-field" required />
        {% if error2 %}
        <p style="color: red;">{{ error2 }}</p>
        {% endif %}
        <input type="submit" value="Register" class="btn btn-register" />
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if message %}
        <p style="color: rgb(34, 212, 51);">{{ message }}</p>
    {% endif %}
    
    <p>Already have an account? <a href="{{ url_for('temp') }}">Login here</a></p>


</div>
    
    <script>
        function setActionForm(action) {
            let form = document.getElementById('auth_form');
            if (action === 'register') {
                form.action = "{{ url_for('register') }}";
                form.method = 'post';
                form.submit();
            }          
        }
    </script>
    
{% endblock %}